.node-red/.flows_000cf948fe7c.json.backup
[{"id":"379926aa.7c12aa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6d96dcd.22e9424","type":"inject","z":"379926aa.7c12aa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":148,"y":107,"wires":[["408a85b7.7bd2ac"]]},{"id":"470ebd62.0e31d4","type":"debug","z":"379926aa.7c12aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":549,"y":107,"wires":[]},{"id":"408a85b7.7bd2ac","type":"function","z":"379926aa.7c12aa","name":"","func":"msg.payload = global.get('nodeEnv')\nreturn msg;","outputs":1,"noerr":0,"x":332,"y":107,"wires":[["470ebd62.0e31d4"]]}]