.node-red/flows_000cf948fe7c.json
[{"id":"379926aa.7c12aa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6d96dcd.22e9424","type":"inject","z":"379926aa.7c12aa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":148,"y":107,"wires":[["9d5e3cb.8ee4fc"]]},{"id":"9d5e3cb.8ee4fc","type":"change","z":"379926aa.7c12aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"NODE_ENV","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":334,"y":112,"wires":[["470ebd62.0e31d4"]]},{"id":"470ebd62.0e31d4","type":"debug","z":"379926aa.7c12aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":536,"y":109,"wires":[]}]